@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');


.animBaseRoller {
  background: #282c34;
  padding: 80px;
  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8vmin; /* Where the animation's start point is*/
  /*top: 15.5vmin;*/
  animation: white-out 5s infinite;
}

/*
  top: 8.6vmin default
  Hello World = 15.5vmin
  Bonjour Monde = 5
  Hola Mundo = -5
  Ciao Mondo = -15
*/

/* Closure = what hides the outside text */
.closure::after {
  content: '';
  position: absolute;
  /*height: 25vmin;*/
  height: 17vmin;
  width: 40vmin;
  background: #282c34;
  /*282c34*/
  /*transform: translate(-41vmin, -25vmin);*/
  /*transform: translate(-45vmin, -24.5vmin);*/
  transform: translate(-41vmin, -16vmin);
}

.closure::before {
  content: '';
  position: absolute;
  /*height: 25vmin;*/
  /*height: 17vmin;*/
  height: 15vmin;
  width: 40vmin;
  background: #282c34;
  /*transform: translate(-34vmin, 5vmin);*/
  /*transform: translate(-40vmin, 5vmin);*/
  transform: translate(-34vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.fr {
  color: white;
}

.es {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
