@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

.animBaseTyping {
    /*background: #fff7ee;*/
    font-family: Fira Mono;
    /*height: 100vh;
    width: 100vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
  text-align: center;        /* centers everything inside */
  color: white;
  /*font-family: monospace;*/
  font-family: Fira Mono;
  font-size: 11px;
}

.typing {
  display: inline-block;      /* shrink-wrap so cursor aligns with text */
  white-space: nowrap;        /* prevents wrapping during typing */
  border-right: 2px solid white; /* cursor */
  overflow: hidden;           /* hide text until "typed" */
  animation: typing 4s steps(27, end), blink .7s step-end infinite;
}

.design {
  font-size: 25px;
  font-family: serif;
}

.develop {
  font-size: 23px;
  font-family: monospace;
}

/* typing effect */
@keyframes typing {
  from { width: 0ch; }
  to { width: 27ch; } /* exact character count instead of percentages*/
}

/* blinking caret */
@keyframes blink {
  50% { border-color: transparent; }
}


